<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Black Jack</title>
	</head>

	<body>
		<div>
			
			<div>
				{% if card.suit != "None" %}
					<div>Total Points: {{ sum }}</div>
					<div>Your Current Card: {{ card.num }} of {{ card.suit }} </div>
				{% endif %}
				<form action="/draw" method="post">
					<button>draw</button>
				</form>
			</div>
			
		</div>

		<form action="/start" method="post">
			<div>
				<button>start</button>
			</div>
		</form>
		<form action="/start" method="post">
			<div>
				<button>restart</button>
			</div>
		</form>
	</body>
	
</html>