<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Black Jack</title>
	</head>

	<body>
		<div>
			
			<div>
				{% if result != "None" %}
					<div>{{ result }}</div>
					<div>Your Total Points: {{ game_data.player }}</div>
					<div>Dealer Total Points: {{ game_data.dealer }}</div>
					<form action="/start" method="post">
						<div>
							<button>RESTART</button>
						</div>
					</form>
				{% else if card.suit != "None" %}
					<div>Total Points: {{ game_data.player }}</div>
					<div>Your Current Card: {{ card.num }}s of {{ card.suit }} </div>
					<form action="/draw" method="post">
						<button>HIT</button>
					</form>
					<form action="/stand" method="post">
						<button>STAY</button>
					</form>
				{% else if game_data.dealer != 0 %}
					<form action="/draw" method="post">
						<button>HIT</button>
					</form>
					<form action="/stand" method="post">
						<button>STAY</button>
					</form>
				{% endif %}
			</div>
		</div>
		{% if game_data.dealer == 0 %}
			<form action="/start" method="post">
				<div>
					<button>START</button>
				</div>
			</form>
		{% endif %}
	</body>
	
</html>